html {
	position: relative;
	min-height: 100%;
}

body {
	background-image: url("../images/dust_scratches.png");
	background-color: #eee;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

h1,
h2,
h3,
.navbar-brand,
.panel-title {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	/*teal*/
	font-weight: bold;
}

h1,
h2,
.name {
	font-size: 30px;
}

a {
	color: #777777;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #4AAAA5;
	/*Teal*/
}

.navbar {
	min-height: 80px;
	background: #ffffff;
}

.navbar-header {
	background: #4aaaa5;
	text-align: center;
	padding: 10px 15px 17px 20px;
}

.name {
	color: white !important;
	font-weight: normal;
}

.main-section {
	border: 1px solid #dddddd;
	background: #ffffff;
	padding: 30px;
}

.page-header {
	margin-top: 0px;
	border-bottom: 2px solid #cccccc;
}

.section-header {
	margin-top: 5px;
}

.main-text {
	font-size: 120%;
}

.panel-heading {
	background: #ffffff !important;
	text-align: center;
	margin: 10px 20px 10px 20px;
}

.panel-title {
	font-size: 20px;
}

.panel-body {
	text-align: center;
}

.social-img {
	height: 60px;
	width: 60px;
}

.thumbnail,
.img-thumbnail {
	position: relative;
	border: none;
}

/*.portfolo-col {
	padding: 30px;
}*/

.portfolio-img {
	margin: 0px;
	width: 100%;
}

.caption {
	position: absolute;
	bottom: 6%;
	left: 2;
	width: calc(100% - 8px);
	margin: auto;
	background-color: #4aaaa5;
	color: #ffffff !important;
	padding: 14px !important;
	text-align: center;
	font-size: 120%;
}

input,
textarea {
	border: 1px solid #cccccc;
	font-size: 120%;
}

input[type=text],
input[type=email],
textarea {
	width: 100%;
}

input[type=submit] {
	background-color: #4aaaa5;
	border: 1px solid #cccccc;
	color: #ffffff;
	font-size: 15px;
	padding: 10px 20px 10px 20px;
	cursor: pointer;
}

.footer-extra-help {
	margin-bottom: 40px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	border-top: 6px solid #4aaaa5;
	text-align: center;
	background: #666666;
	padding: 35px;
	color: #eee;
	font-size: 65%;
}